<!doctype html>
<link rel="stylesheet" href='/static/style.css'/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title>ризюм)</title>

<div class=page>
    <h1>ризюм)</h1>

    <div class=metanav>

        {% if session.logged_in %}
            <div class="hrefs">
                <a href="{{ url_for('logout') }}"> разлогиньчик жоооский </a>

                <a href="{{ url_for('show_entries') }}"> мои ризюменки) </a>

                <a href="{{ url_for('show_user_profile', username=username) }}"> акк чееек </a>

                <a href="{{ url_for('add_cv') }}"> вкинуть ризюмчик) </a>
            </div>
        {% else %}
            <div class="hrefs">
                <a href="{{ url_for('login') }}">залогиньчик капецц)) входишь быстро</a>

                <a href="{{ url_for('register') }}"> рег жоский </a>
            </div>
        {% endif %}
    </div>


    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}

</div>